<h1>Welcome to Launchpad Cinemas</h1>

<h3>These are our current movies</h3>
<ul class="cards col-6">
   <% @movies.each do |movie| %> 
    <li class='card'>
        <%# image url to be added%>
        <div class='card-title'><b>Title:</b> <%= movie.title %></div>
        <div class='card-body'>
        <div><b>Description:</b> <%= movie.description %></div>
        <div><b>Showing at:</b> 
            <ul>
                <% movie.showings.each do |showing| %>
                    <li><%=showing.datetime  %></li>
                    <%# <button type="button" class="btn btn-primary btn-sm get-tickets" data-toggle="modal" data-target="#exampleModal">Get Tickets</button> %>
                    <%= link_to "Get Tickets", new_showing_order_path(showing), class:"btn btn-outline-primary btn-sm" %>
                <% end%>
            </ul>
        </div>
        </div>
        <%# seats available: %>
    </li>
   <% end%>
</ul>