<h3>All Orders</h3>
<ol>
<% @orders.each do |order| %>
    <li>
    <div>Purchased by: <%= order.user.name %></div>
    <div>User email: <%= order.user.email %></div>
    <%= order.showing.movie.title %>
    </li>
<% end%>
</ol>